// Define variables for your color scheme

// For example:
$red: #EB5757;
$blue: #167FFB;
$yellow: #F2C94C;
$orange: #E67E22;
$green: #1EDD88;
$gray: #333333;
$light-gray: #6c757d;
$white: #FFFF;
$black: #4F4F4F;
