// Define variables for your color scheme

// For example:
$red: #EB5757;
$blue: #167FFB;
$yellow: #F2C94C;
$orange: #F2994A;
$green: #27AE60;
$gray: #333333;
$light-gray: #6c757d;
$light-grey: #6c757db4;
$white: #FFFF;
$black: #4F4F4F;
$purple: #BB6BD9;

$theme-colors: (
  "red": #EB5757,
  "blue": #2D9CDB,
  "yellow": #F2C94C,
  "orange": #E67E22,
  "green": #27AE60,
  "gray": #333333,
  "light-gray": #6c757d,
  "light-grey": #6c757db4,
  "white": #FFFF,
  "black": #4F4F4F,
  "purple": #BB6BD9
);


