

<div class="container">
  <div class="d-flex justify-content-around align-items-center">
    <%= image_tag "logo.png", width: 300 %>
    <div>
      <p>SAS BRIDGE - Spayce</p>
      <p>54 cours Victor Hugo, 33150 Cenon</p>
      <p>fromspayce@gmail.com</p>
      <%= link_to 'www.fromspayce.com', "https://www.fromspayce.com/" %>
    </div>
  </div>

  <%= @project.name %>
</div>


