---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/accounts
    body:
      encoding: UTF-8
      string: type=express&requested_capabilities[0]=card_payments&requested_capabilities[1]=transfers
    headers:
      Authorization:
      - Bearer sk_test_51HOlJuETJcLHIQqMAVYHjrz4yYgGCiF6dzydPHqBTvPA8IxIEzR92txS2maJXAZhsZSFYUfw9d5tMHxxx1HqnqpS00HnfDbL0B
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1HUWlJCXvU0UDKBw",
          "object": "account",
          "business_profile": {
            "mcc": null,
            "name": null,
            "product_description": null,
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": null
          },
          "business_type": null,
          "capabilities": {
            "card_payments": "inactive",
            "transfers": "inactive"
          },
          "charges_enabled": false,
          "country": "FR",
          "created": 1600862873,
          "default_currency": "eur",
          "details_submitted": false,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/accounts/acct_1HUWlJCXvU0UDKBw/external_accounts"
          },
          "login_links": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/accounts/acct_1HUWlJCXvU0UDKBw/login_links",
            "data": [

            ]
          },
          "metadata": {
          },
          "payouts_enabled": false,
          "requirements": {
            "current_deadline": null,
            "currently_due": [
              "business_profile.mcc",
              "business_profile.url",
              "business_type",
              "external_account",
              "representative.address.city",
              "representative.address.line1",
              "representative.address.postal_code",
              "representative.dob.day",
              "representative.dob.month",
              "representative.dob.year",
              "representative.email",
              "representative.first_name",
              "representative.last_name",
              "representative.phone",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "disabled_reason": "requirements.past_due",
            "errors": [

            ],
            "eventually_due": [
              "business_profile.mcc",
              "business_profile.url",
              "business_type",
              "external_account",
              "representative.address.city",
              "representative.address.line1",
              "representative.address.postal_code",
              "representative.dob.day",
              "representative.dob.month",
              "representative.dob.year",
              "representative.email",
              "representative.first_name",
              "representative.last_name",
              "representative.phone",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "past_due": [
              "business_profile.mcc",
              "business_profile.url",
              "business_type",
              "external_account",
              "representative.address.city",
              "representative.address.line1",
              "representative.address.postal_code",
              "representative.dob.day",
              "representative.dob.month",
              "representative.dob.year",
              "representative.email",
              "representative.first_name",
              "representative.last_name",
              "representative.phone",
              "tos_acceptance.date",
              "tos_acceptance.ip"
            ],
            "pending_verification": [

            ]
          },
          "settings": {
            "bacs_debit_payments": {
            },
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": null
            },
            "dashboard": {
              "display_name": null,
              "timezone": "Etc/UTC"
            },
            "payments": {
              "statement_descriptor": "",
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": true,
              "schedule": {
                "delay_days": 7,
                "interval": "daily"
              },
              "statement_descriptor": null
            }
          },
          "tos_acceptance": {
            "date": null,
            "ip": null,
            "user_agent": null
          },
          "type": "express"
        }
  recorded_at: Wed, 23 Sep 2020 12:07:54 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/account_links
    body:
      encoding: UTF-8
      string: account=acct_1HUWlJCXvU0UDKBw&refresh_url=http%3A%2F%2Flocalhost%3A5000%2F&return_url=http%3A%2F%2Flocalhost%3A5000%2F&type=account_onboarding
    headers:
      Authorization:
      - Bearer sk_test_51HOlJuETJcLHIQqMAVYHjrz4yYgGCiF6dzydPHqBTvPA8IxIEzR92txS2maJXAZhsZSFYUfw9d5tMHxxx1HqnqpS00HnfDbL0B
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "account_link",
          "created": 1600862874,
          "expires_at": 1600863174,
          "url": "https://connect.stripe.com/express/onboarding/j6YIC1oYgKyg"
        }
  recorded_at: Wed, 23 Sep 2020 12:07:54 GMT
recorded_with: VCR 5.1.0
