---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/accounts/acct_1HUEcZLNaxcoqDmg
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_51HOlJuETJcLHIQqMAVYHjrz4yYgGCiF6dzydPHqBTvPA8IxIEzR92txS2maJXAZhsZSFYUfw9d5tMHxxx1HqnqpS00HnfDbL0B
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Account:
      - acct_1HUEcZLNaxcoqDmg
      Stripe-Version:
      - '2020-08-27'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "acct_1HUEcZLNaxcoqDmg",
          "object": "account",
          "business_profile": {
            "mcc": "5734",
            "name": null,
            "support_address": null,
            "support_email": null,
            "support_phone": null,
            "support_url": null,
            "url": "zqdsfg.com"
          },
          "capabilities": {
            "card_payments": "active",
            "transfers": "active"
          },
          "charges_enabled": true,
          "country": "FR",
          "created": 1600793140,
          "default_currency": "eur",
          "details_submitted": true,
          "email": null,
          "external_accounts": {
            "object": "list",
            "data": [
              {
                "id": "ba_1HUEdMLNaxcoqDmg63qoZcTR",
                "object": "bank_account",
                "account": "acct_1HUEcZLNaxcoqDmg",
                "account_holder_name": null,
                "account_holder_type": null,
                "available_payout_methods": [
                  "standard"
                ],
                "bank_name": "STRIPE TEST BANK",
                "country": "FR",
                "currency": "eur",
                "default_for_currency": true,
                "fingerprint": "TETcgopqOYDdMqXV",
                "last4": "2606",
                "metadata": {
                },
                "routing_number": "110000000",
                "status": "new"
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/accounts/acct_1HUEcZLNaxcoqDmg/external_accounts"
          },
          "login_links": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/accounts/acct_1HUEcZLNaxcoqDmg/login_links",
            "data": [

            ]
          },
          "metadata": {
          },
          "payouts_enabled": true,
          "requirements": {
            "current_deadline": null,
            "currently_due": [

            ],
            "disabled_reason": null,
            "errors": [

            ],
            "eventually_due": [

            ],
            "past_due": [

            ],
            "pending_verification": [

            ]
          },
          "settings": {
            "bacs_debit_payments": {
            },
            "branding": {
              "icon": null,
              "logo": null,
              "primary_color": null,
              "secondary_color": null
            },
            "card_payments": {
              "decline_on": {
                "avs_failure": false,
                "cvc_failure": false
              },
              "statement_descriptor_prefix": null
            },
            "dashboard": {
              "display_name": "Zqdsfg",
              "timezone": "Etc/UTC"
            },
            "payments": {
              "statement_descriptor": "ZQDSFG.COM",
              "statement_descriptor_kana": null,
              "statement_descriptor_kanji": null
            },
            "payouts": {
              "debit_negative_balances": true,
              "schedule": {
                "delay_days": 7,
                "interval": "daily"
              },
              "statement_descriptor": null
            }
          },
          "tos_acceptance": {
          },
          "type": "express"
        }
  recorded_at: Thu, 24 Sep 2020 07:55:08 GMT
recorded_with: VCR 5.1.0
