<h1 class="text-center">Votre email est en attente de confirmation.</h1>

<p class="my-4 text-center">Nous vous avons envoyé un email de confirmation sur l'adresse fournie, veuillez en prendre connaissance et cliquer sur le lien fourni pour accéder aux étapes suivantes de la création de votre compte.</p>
