<div class="container">
  <%= link_to "Retour", edit_user_registration_path, class: "btn btn-outline-info my-4" %>
  <p style="text-align: center; margin: 50px 0px;"><span style="font-size: 36px;"><strong>Conditions g&eacute;n&eacute;rales d&rsquo;utilisation et de vente</strong></span></p>
  <p style="margin: 20px 0px;"><span style="font-size: 24px;"><strong>1 - Objet &nbsp;:</strong></span></p>
  <p>Les pr&eacute;sentes &ldquo;conditions g&eacute;n&eacute;rales d&apos;utilisation&rdquo; ont pour objet l&apos;encadrement juridique des modalit&eacute;s de mise &agrave; disposition des services de SPAYCE et leur utilisation par &laquo; l&apos;Utilisateur &raquo;. &nbsp;Elles d&eacute;taillent les droits et obligations de la soci&eacute;t&eacute; Bridge et de tout utilisateur du service.</p>
  <p>Les services de SPAYCE sont accessibles apr&egrave;s t&eacute;l&eacute;chargement de l&rsquo;application sur tout smartphone ou via le site web.</p>
  <p>Les conditions g&eacute;n&eacute;rales d&rsquo;utilisation doivent &ecirc;tre accept&eacute;es par tout Utilisateur souhaitant acc&eacute;der au site. Elles constituent le contrat entre le site et l&apos;Utilisateur. L&rsquo;acc&egrave;s au site par l&rsquo;Utilisateur signifie son acceptation des pr&eacute;sentes conditions g&eacute;n&eacute;rales d&rsquo;utilisation.</p>
  <p>En cas de non-acceptation des conditions g&eacute;n&eacute;rales d&apos;utilisation stipul&eacute;es dans le pr&eacute;sent contrat, l&apos;Utilisateur se doit de renoncer &agrave; l&apos;acc&egrave;s des services propos&eacute;s par le site.</p>
  <p>La soci&eacute;t&eacute; BRIDGE se r&eacute;serve le droit de modifier unilat&eacute;ralement et &agrave; tout moment le contenu des pr&eacute;sentes conditions g&eacute;n&eacute;rales d&apos;utilisation.</p>
  <p style="margin: 20px 0px;"><strong><span style="font-size: 24px;">2 - D&eacute;finitions :</span></strong></p>
  <ul>
      <li><strong>Spayce :</strong> d&eacute;signe le site/application</li>
      <li><strong>Bridge :</strong> d&eacute;signe la soci&eacute;t&eacute; SAS Bridge, &eacute;ditrice et propri&eacute;taire de l&rsquo;application Spayce, ci-apr&egrave;s d&eacute;sign&eacute;e &ldquo;la Soci&eacute;t&eacute;&rdquo;</li>
      <li><strong>Conditions G&eacute;n&eacute;rales :</strong> d&eacute;signe le pr&eacute;sent document.</li>
      <li><strong>Utilisateur :</strong> d&eacute;signe toute personne utilisant le Service, &agrave; quelque titre que ce soit</li>
      <li>Client : d&eacute;signe une personne physique ou une personne morale souhaitant utiliser le Service comme solution de paiement pour payer une facture envoy&eacute;e par un Freelance</li>
      <li>Freelance : d&eacute;signe une personne morale souhaitant utiliser le Service comme solution de paiement pour demander le paiement d&rsquo;une facture &agrave; un client</li>
      <li>Activit&eacute;s : d&eacute;signe l&rsquo;ensemble des op&eacute;rations r&eacute;alis&eacute;es via l&rsquo;Application ou le Site par les Utilisateurs.</li>
      <li>Bien(s) : d&eacute;signe toute chose mat&eacute;rielle faisant l&rsquo;objet d&rsquo;une Transaction entre un Client et un Freelance .</li>
      <li>Prestation(s) : d&eacute;signe toute prestation de service faisant l&rsquo;objet d&rsquo;une Transaction entre un Client et un Freelance .</li>
      <li>Compte perso : d&eacute;signe l&rsquo;espace personnel d&eacute;di&eacute; &agrave; chaque Utilisateur, accessible via l&rsquo;Application ou via le site SPAYCE. Chaque Utilisateur administre son compte perso et ses informations personnelles lui-m&ecirc;me.</li>
      <li>Stripe : d&eacute;signe l&rsquo;&eacute;tablissement de monnaie &eacute;lectronique partenaire de Bridge, sur lequel Bridge s&rsquo;est adoss&eacute;e pour proposer aux Utilisateurs le service de paiement.</li>
      <li>Transaction : d&eacute;signe une op&eacute;ration ou le Client obtient un bien ou une prestation de la part du Freelance &nbsp;en &eacute;change du paiement de ce bien ou prestation;</li>
      <li>Montant de la transaction : d&eacute;signe le montant total de la prestation/vente support&eacute; par le Client et comprenant le prix de la prestation/vente tel que convenu avec le Freelance &nbsp;ainsi que les frais d&rsquo;utilisation du service.</li>
      <li>Frais d&rsquo;utilisation/Commission : d&eacute;signe, en cas de transaction, les frais dus par l&rsquo;utilisateur &agrave; Bridge &agrave; cette occasion</li>
      <li>Partie(s) : d&eacute;signe la soci&eacute;t&eacute; Bridge, le service SPAYCE et l&rsquo;Utilisateur</li>
      <li>Tiers : d&eacute;signe des sites internet, applications ou plateformes de partenaires ou tiers;</li>
  </ul>
  <p style="margin: 20px 0px;"><span style="font-size: 24px;"><strong>3 - Cr&eacute;ation, Gestion et Suppression de compte :</strong></span>&nbsp;</p>
  <p>Avant de pouvoir utiliser le Service, l&rsquo;Utilisateur doit t&eacute;l&eacute;charger l&rsquo;application gratuitement ou utiliser le site internet de SPAYCE.</p>
  <p>Il doit s&rsquo;enregistrer et ouvrir un compte &agrave; son nom.&nbsp;</p>
  <p>La cr&eacute;ation d&apos;un compte est ouverte &agrave; toute personne morale dont le repr&eacute;sentant l&eacute;gal dispose d&rsquo;une pleine capacit&eacute; juridique, et qui accepte les pr&eacute;sentes CGU-CGV.</p>
  <p>SPAYCE se r&eacute;serve le droit de modifier &agrave; tout moment les pr&eacute;sentes Conditions G&eacute;n&eacute;rales.</p>
  <p>Dans un tel cas, la Soci&eacute;t&eacute; en informera les Utilisateurs au moment de leur connexion &agrave; leur compte SPAYCE et leur demandera une nouvelle acceptation de ces nouvelles Conditions G&eacute;n&eacute;rales.</p>
  <p>L&apos;ouverture d&rsquo;un compte est confirm&eacute;e par l&apos;&eacute;mission d&apos;un courriel par la Soci&eacute;t&eacute; &agrave; destination de l&rsquo;utilisateur. Au surplus, la soci&eacute;t&eacute; se r&eacute;serve le droit &agrave; sa libre discr&eacute;tion de demander &agrave; l&rsquo;utilisateur tout document et information qu&rsquo;il jugera utile afin de compl&eacute;ter son inscription, l&rsquo;obtention de ces documents et &eacute;l&eacute;ments pouvant conditionner la cr&eacute;ation du compte. La collecte de ces informations et documents sera soumise &agrave; l&rsquo;obtention du consentement de l&rsquo;utilisateur et plus g&eacute;n&eacute;ralement aux dispositions de l&rsquo;article 16.</p>
  <p>Pendant toute la dur&eacute;e de validit&eacute; de son compte, l&rsquo;utilisateur est responsable de la confidentialit&eacute; de son login et de son mot de passe, de l&rsquo;utilisation qui est faite de son compte, l&rsquo;utilisateur prenant toutes les pr&eacute;cautions d&rsquo;usage pour modifier r&eacute;guli&egrave;rement son mot de passe. En cas de perte ou de constat d&rsquo;intrusion sur son compte, l&rsquo;utilisateur devra modifier sans d&eacute;lai son mot de passe ou respecter la proc&eacute;dure de s&eacute;curit&eacute; propos&eacute;e par la Soci&eacute;t&eacute; afin de r&eacute;cup&eacute;rer son login ou mot de passe.&nbsp;</p>
  <p>Une fois le compte SPAYCE ouvert, l&rsquo;utilisateur peut acc&eacute;der &agrave; toutes les fonctionnalit&eacute;s du Service. Un utilisateur peut &agrave; tout moment d&eacute;cider de fermer son compte : dans un tel cas, il doit adresser un courriel &agrave; la Soci&eacute;t&eacute; &agrave; l&apos;adresse suivante fromspayce@gmail.com. La date de fermeture du compte est la date de r&eacute;ception du courriel de demande de fermeture par la Soci&eacute;t&eacute; sauf &agrave; ce qu&rsquo;une transaction soit valide au moment de la fermeture. Dans un tel cas, le compte sera ferm&eacute; &agrave; la fin de l&rsquo;op&eacute;ration concern&eacute;e par la transaction, ou, le cas &eacute;ch&eacute;ant, une fois la d&eacute;cision rendue par la Soci&eacute;t&eacute; en vertu des articles 10 et 11.</p>
  <p>Tout manquement grave d&apos;un Utilisateur &agrave; l&apos;un de ses engagements au titre des pr&eacute;sentes Conditions G&eacute;n&eacute;rales, non rem&eacute;di&eacute; dans un d&eacute;lai de quinze (15) jours &agrave; compter de la r&eacute;ception d&apos;une lettre recommand&eacute;e avec avis de r&eacute;ception ou d&rsquo;un email avec accus&eacute; de r&eacute;ception de la Soci&eacute;t&eacute;, ouvre droit pour cette derni&egrave;re &agrave; la suspension ou &agrave; la r&eacute;vocation du compte de l&rsquo;Utilisateur concern&eacute;, selon la gravit&eacute; des faits, ou &agrave; l&rsquo;interdiction d&rsquo;utilisation du Service le cas &eacute;ch&eacute;ant. Le courrier ou email pr&eacute;cisera les faits reproch&eacute;s. En outre, tout acc&egrave;s de l&rsquo;Utilisateur &agrave; son compte et / ou aux fonctionnalit&eacute;s du Service est impossible, sans pr&eacute;judice de tout autre dommage et int&eacute;r&ecirc;t auxquels la Soci&eacute;t&eacute; pourrait pr&eacute;tendre. En cas de trouble ou atteinte manifestement illicite, le d&eacute;lai pour rem&eacute;dier au manquement pourra &ecirc;tre plus court.</p>
  <p style="margin-left: 20px;"><span style="font-size: 20px;"><strong>3.1 - Ouverture de compte :</strong></span></p>
  <ul>
      <li><strong>A l&rsquo;ouverture du compte, l&rsquo;utilisateur doit fournir, selon la forme juridique :</strong></li>
      <li><strong>Son num&eacute;ro de t&eacute;l&eacute;phone</strong></li>
      <li><strong>Son adresse email</strong></li>
      <li><strong>Son mot de passe</strong></li>
      <li><strong>Pr&eacute;nom/Nom du dirigeant</strong></li>
      <li><strong>SIRET</strong></li>
      <li><strong>D&eacute;nomination ou raison sociale</strong></li>
      <li><strong>Adresse</strong></li>
      <li><strong>Code NAF/APE</strong></li>
      <li><strong>N&deg; de TVA</strong></li>
      <li><strong>Pi&egrave;ce d&rsquo;identit&eacute; du responsable du compte</strong></li>
      <li><strong>Preuve d&rsquo;enregistrement au registre des soci&eacute;t&eacute;s</strong></li>
      <li><strong>Statuts de la soci&eacute;t&eacute;</strong></li>
  </ul>
  <p style="margin-left: 20px;"><span style="font-size: 20px;"><strong>3.2 - Informations suppl&eacute;mentaires :</strong></span></p>
  <p>Pour recevoir des virements SEPA, le Freelance doit avoir renseign&eacute; et compl&eacute;t&eacute; ses coordonn&eacute;es bancaires : RIB (IBAN+Titulaire du compte).&nbsp;</p>
  <p>Le Client peut faire le choix d&rsquo;un paiement par carte bancaire. Il devra renseigner les &eacute;l&eacute;ments concernant sa carte bancaire : Type de carte, Num&eacute;ro de carte, Nom du d&eacute;tenteur, Cryptogramme et Date d&rsquo;expiration.</p>
  <p>Le Client peut faire le choix d&rsquo;un virement bancaire. Il devra renseigner les &eacute;l&eacute;ments concernant son compte bancaire : RIB (IBAN+Titulaire du compte).</p>
  <p>Au-del&agrave; d&rsquo;un certain montant, ou &agrave; la demande de Stripe, la soci&eacute;t&eacute; se r&eacute;serve le droit de demander &agrave; l&rsquo;Utilisateur tout document ou information qu&rsquo;elle jugera utile afin de compl&eacute;ter ou de finaliser une Transaction (carte nationale d&rsquo;identit&eacute;, justificatif de domicile, ou tout autre document jug&eacute; utile ou n&eacute;cessaire).</p>
  <p style="margin: 20px 0px;"><span style="font-size: 24px;"><strong>4 - Description des services:</strong></span></p>
  <p style="margin-left: 20px;"><span style="font-size: 20px;"><strong>4.1 - Transf&eacute;rer et Demander le paiement des fichiers :</strong></span></p>
  <p>Pour transf&eacute;rer des fichiers et demander le paiement &agrave; un Client, il faut pr&eacute;alablement conna&icirc;tre son nom et son adresse email.</p>
  <p>Le Freelance charge ses fichiers sur Spayce et renseigne le nom/pr&eacute;nom, l&rsquo;email, le montant de la facture. Il a la possibilit&eacute; d&rsquo;&eacute;crire un message au Client et la possibilit&eacute; d&rsquo;entrer un code promo (pour une r&eacute;duction de tarif, par exemple).</p>
  <p>Une fois ces informations valid&eacute;s, le Freelance &agrave; la possibilit&eacute; de modifier les informations, d&rsquo;envoyer les fichiers directement au client en passant par la messagerie Spayce ou copier le lien de paiement de la facture et l&rsquo;envoyer lui-m&ecirc;me &agrave; son client par le moyen qu&rsquo;il aura choisi.</p>
  <p>Le lien de paiement est valide pendant 7 jours. Au-del&agrave;, il sera automatiquement annul&eacute;.</p>
  <p>Tant qu&rsquo;un transfert n&rsquo;a pas &eacute;t&eacute; pay&eacute;, il peut &ecirc;tre annul&eacute; par le Freelance.</p>
  <p>Tous les transferts envoy&eacute;s sont visibles dans la partie &ldquo;Mes Transferts&rdquo;.</p>
  <p style="margin-left: 20px;"><span style="font-size: 20px;"><strong>4.2 - Pr&eacute;visualiser, payer et t&eacute;l&eacute;charger des fichiers :</strong></span></p>
  <p>Pour pr&eacute;visualiser, payer et t&eacute;l&eacute;charger des fichiers, le Client doit suivre le lien &eacute;dit&eacute; par Spayce et envoy&eacute; par le Freelance.</p>
  <p>Il devra choisir s&rsquo;il pr&eacute;f&egrave;re payer avec une carte bancaire ou par virement bancaire.</p>
  <p>Le paiement est pris en charge par notre partenaire Stripe qui assure et s&eacute;curise le bon d&eacute;roul&eacute; de la transaction.</p>
  <p style="margin-left: 20px;"><span style="font-size: 20px;"><strong>4.3 - Annuler une demande de paiement :</strong></span></p>
  <p>Le Freelance peut demander &agrave; annuler un transfert tant que le Client n&rsquo;a pas pay&eacute; le t&eacute;l&eacute;chargement des fichiers.</p>
  <p style="margin: 20px 0px;"><span style="font-size: 24px;"><strong>5 - Fonctionnalit&eacute;s :</strong></span></p>
  <p>Les utilisateurs peuvent acc&eacute;der &agrave; ces services :</p>
  <ul>
      <li>transf&eacute;rer des fichiers et envoyer des demandes de paiement s&eacute;curis&eacute;</li>
      <li>visualiser tous les transferts envoy&eacute;s</li>
      <li>payer des transferts</li>
  </ul>
  <p style="margin: 20px 0px;" ><span style="font-size: 24px;"><strong>6 - Frais d&rsquo;utilisation :</strong></span></p>
  <p>L&rsquo;inscription est totalement gratuite.</p>
  <p>Les frais d&rsquo;utilisation sont de 5% par transaction finalis&eacute;e.</p>
  <p>Des frais pourront &ecirc;tre demand&eacute;s pour certaines fonctionnalit&eacute;s additionnelles auxquelles les utilisateurs pourront souscrire.</p>
  <p>Les frais et commissions sont pr&eacute;lev&eacute;s &agrave; la finalisation de la transaction.</p>
  <p>Le montant des frais est calcul&eacute; en fonction du bar&egrave;me en vigueur au jour de la transaction, disponible sur le site internet : www.fromspayce.com partie &ldquo;Tarifs&rdquo;.</p>
  <p>L&rsquo;utilisateur s&rsquo;engage par les pr&eacute;sentes &agrave; prendre connaissance des frais d&rsquo;utilisation du service en consultant ce site. Les frais sont exprim&eacute;s en Euro et TTC. Le taux de la TVA est celui applicable en vertu de la l&eacute;gislation en vigueur au moment de la transaction.</p>
  <p>La soci&eacute;t&eacute; se r&eacute;serve le droit de modifier le bar&egrave;me des frais d&rsquo;utilisation &agrave; tout moment.</p>
  <p>Le montant des frais d&rsquo;utilisation du service seront pr&eacute;lev&eacute;s lors de l&rsquo;utilisation d&rsquo;un service payant. L&rsquo;utilisateur reconna&icirc;t &ecirc;tre inform&eacute; de ce montant et l&apos;accepte au moment de la souscription au service.</p>
  <p>Les frais d&rsquo;utilisation sont d&eacute;bit&eacute;s du compte bancaire de l&rsquo;utilisateur et/ou de son porte-monnaie &eacute;lectronique.</p>
  <p><br></p>
  <p style="margin: 20px 0px;"><span style="font-size: 24px;"><strong>7 - Stripe et modalit&eacute;s de paiement :</strong></span></p>
  <p style="margin-left: 20px;"><span style="font-size: 20px;"><strong>7.1 - Stripe</strong></span></p>
  <p>Pour s&eacute;curiser son service, SPAYCE utilise les services du prestataire de paiement Stripe, &eacute;tablissement de monnaie &eacute;lectronique agr&eacute;&eacute;.</p>
  <p>Pour tout savoir sur la politique et le fonctionnement de Stripe : https://stripe.com</p>
  <p>L&rsquo;utilisateur est inform&eacute; que ses donn&eacute;es bancaires sont recueillies par Stripe. Stripe conserve et s&eacute;curise ces donn&eacute;es, et prend en charge :</p>
  <ul>
      <li>la g&eacute;n&eacute;ration et maintenance de chaque porte-monnaie &eacute;lectronique</li>
      <li>la conservation des fonds</li>
      <li>la gestion des flux</li>
      <li>le cantonnement</li>
  </ul>
  <p>Pour cette utilisation effective des services de Stripe, l&rsquo;utilisateur accepte les conditions g&eacute;n&eacute;rales et les modalit&eacute;s pratiques de Stripe par le biais d&rsquo;une case &agrave; cocher lors de la cr&eacute;ation de son compte et pr&eacute;alablement &agrave; toute utilisation du service en vue d&rsquo;une transaction.</p>
  <p style="margin-left: 20px;"><span style="font-size: 20px;"><strong>7.2 - Modalit&eacute;s de paiement</strong></span></p>
  <p>Pour effectuer des envois d&rsquo;argent, l&rsquo;utilisateur utilise sa carte bancaire ou son compte bancaire.</p>
  <p>L&rsquo;utilisateur recevra un virement SEPA vers son compte bancaire lorsque les transactions sont finalis&eacute;es.</p>
  <p>Les d&eacute;lais de virement vers le compte bancaire d&rsquo;un utilisateur tiennent compte des contraintes bancaires et des &eacute;volutions de la r&eacute;glementation.</p>
  <p>L&rsquo;utilisateur s&rsquo;engage &agrave; communiquer ses coordonn&eacute;es bancaires &agrave; la Soci&eacute;t&eacute; et &agrave; mettre &agrave; jour ces derni&egrave;res en cas de modification. Le service ne pourra &ecirc;tre tenu responsable de l&rsquo;&eacute;chec de tout versement en cas de coordonn&eacute;es bancaires erron&eacute;es, incompl&egrave;tes ou fausses.</p>
  <p style="margin: 20px 0px;"><span style="font-size: 24px;"><strong>8 - Dur&eacute;e des services</strong></span></p>
  <p>Les services sont disponibles pour une dur&eacute;e ind&eacute;termin&eacute;e, d&egrave;s la cr&eacute;ation d&rsquo;un compte SPAYCE.</p>
  <p style="margin: 20px 0px;"><span style="font-size: 24px;"><strong>9 - D&eacute;sinscription</strong></span></p>
  <p>L&rsquo;utilisateur peut demander une d&eacute;sinscription &agrave; tout moment. Pour se faire, il doit envoyer sa demande &agrave; fromspayce@gmail.com.</p>
  <p>Toutes les transactions devront pr&eacute;alablement &ecirc;tre finalis&eacute;es.</p>
  <p style="margin: 20px 0px;"><span style="font-size: 24px;"><strong>10 - R&eacute;siliation</strong></span></p>
  <p>En cas de non-respect des pr&eacute;sentes CGU-CGV, sans pr&eacute;judice de tous dommages et int&eacute;r&ecirc;ts que la Soci&eacute;t&eacute; pourrait solliciter, la Soci&eacute;t&eacute; pourra choisir la r&eacute;action qui lui semble la plus appropri&eacute;e :</p>
  <ul>
      <li>informer l&rsquo;utilisateur du manquement concern&eacute; en lui demandant d&rsquo;y rem&eacute;dier</li>
      <li>suspendre l&rsquo;acc&egrave;s au service</li>
      <li>r&eacute;silier le compte, sans indemnit&eacute; et sans pr&eacute;avis.</li>
  </ul>
  <p style="margin: 20px 0px;"><span style="font-size: 24px;"><strong>11 - Evolution du contrat et dur&eacute;e</strong></span></p>
  <p>La dur&eacute;e du pr&eacute;sent contrat est ind&eacute;termin&eacute;e. Le contrat produit ses effets &agrave; l&apos;&eacute;gard de l&apos;Utilisateur &agrave; compter de l&apos;utilisation du service.</p>
  <p>La Soci&eacute;t&eacute; pourra apporter des modifications aux pr&eacute;sentes CGU-CGV qu&rsquo;elle jugera n&eacute;cessaires.</p>
  <p>En cas de modifications des CGU-CGV, les utilisateurs en seront inform&eacute;s par email, et ils devront les accepter pour continuer &agrave; utiliser le service. Toute utilisation du service apr&egrave;s la modification des CGU-CGV vaut acceptation des nouvelles conditions.</p>
  <p style="margin: 20px 0px;"><span style="font-size: 24px;"><strong>12 - Responsabilit&eacute;</strong></span></p>
  <p>La responsabilit&eacute; de la Soci&eacute;t&eacute; se limite &agrave; l&rsquo;accessibilit&eacute; du service par les utilisateurs.</p>
  <p>La Soci&eacute;t&eacute; agit en tant qu&rsquo;interm&eacute;diaire d&rsquo;&eacute;diteur de services et ne saurait donc &ecirc;tre responsable de l&rsquo;atteinte aux droits des utilisateurs.</p>
  <p>La Soci&eacute;t&eacute; n&rsquo;est pas responsable des ventes op&eacute;r&eacute;es par les utilisateurs. Elles rel&egrave;vent de leur seule et enti&egrave;re responsabilit&eacute;. Ils sont seuls d&eacute;cisionnaires quant &agrave; la finalisation de la transaction.</p>
  <p>Une garantie optimale de la s&eacute;curit&eacute; et de la confidentialit&eacute; des donn&eacute;es transmises n&apos;est pas assur&eacute;e par le service. Toutefois, le site s&apos;engage &agrave; mettre en &oelig;uvre tous les moyens n&eacute;cessaires afin de garantir au mieux la s&eacute;curit&eacute; et la confidentialit&eacute; des donn&eacute;es.</p>
  <p>La responsabilit&eacute; du service ne peut &ecirc;tre engag&eacute;e en cas de force majeure ou du fait impr&eacute;visible et insurmontable d&apos;un tiers.</p>
  <p>La Soci&eacute;t&eacute; s&rsquo;engage, dans le cadre d&rsquo;une obligation de moyens, &agrave; fournir un acc&egrave;s au service en respectant les CGU et &agrave; agir avec diligence et comp&eacute;tence et mettre tout en &oelig;uvre, dans une limite raisonnable, afin de rem&eacute;dier &agrave; tout dysfonctionnement port&eacute; &agrave; sa connaissance.</p>
  <p>La Soci&eacute;t&eacute; pourra cependant se trouver dans l&rsquo;obligation de suspendre momentan&eacute;ment ou d&eacute;finitivement le service sans pr&eacute;avis, notamment pour des raisons techniques de maintenance quelle qu&rsquo;en soit l&rsquo;origine ou la cause, sans que ceci n&rsquo;entra&icirc;ne de responsabilit&eacute; de la part de la Soci&eacute;t&eacute;.</p>
  <p>La Soci&eacute;t&eacute; d&eacute;cline toute responsabilit&eacute; en cas :</p>
  <ul>
      <li>de d&eacute;tournement par un tiers de ses codes de connexion et de s&eacute;curit&eacute;;</li>
  </ul>
  <p>par faute, maladresse ou n&eacute;gligence de la part de l&rsquo;utilisateur.</p>
  <p>L&rsquo;Utilisateur s&rsquo;engage &agrave; n&rsquo;exercer aucun recours contre la Soci&eacute;t&eacute; en cas de d&eacute;tournement des fonctionnalit&eacute;s.</p>
  <p>L&rsquo;utilisateur s&rsquo;engage &agrave; utiliser le service que pour ce qu&rsquo;il a &eacute;t&eacute; con&ccedil;u, &agrave; savoir un service de transfert de fichiers permettant de s&eacute;curiser des paiements.</p>
  <p>La Soci&eacute;t&eacute; se r&eacute;serve le droit de fermer un compte d&rsquo;utilisateur, de limiter ou d&rsquo;en interdire l&rsquo;acc&egrave;s momentan&eacute;ment si la Soci&eacute;t&eacute; juge que son utilisation est contraire aux conditions, ou pour v&eacute;rification de son utilisation.</p>
  <p style="margin: 20px 0px;"><span style="font-size: 24px;"><strong>13 - Ventes de produits illicites et/ou interdits</strong></span></p>
  <p>La vente de produits illicites et/ou interdits par la r&eacute;glementation en vigueur est totalement bannie.</p>
  <p>Les utilisateurs s&rsquo;engagent &agrave; ne pas utiliser le service pour effectuer des transactions portant sur ce type de biens.</p>
  <p>La Soci&eacute;t&eacute; ne saurait &ecirc;tre tenue responsable de son utilisation en cas de transactions de produits illicites et/ou interdits.</p>
  <p>Liste des Biens illicites ou interdits sans que cette liste ne pr&eacute;sente de caract&egrave;re exhaustif et ne soit limitative :</p>
  <ul>
      <li>Les produits contrefaits ou tout autre bien portant atteinte &agrave; un droit d&rsquo;auteur prot&eacute;g&eacute;,</li>
      <li>Les armes et munitions &agrave; caract&egrave;re militaire ou terroriste,</li>
      <li>La drogue et toute substance illicite,</li>
      <li>Les biens incitatifs &agrave; la haine, &agrave; la violence, &agrave; l&rsquo;antis&eacute;mitisme, &agrave; la x&eacute;nophobie ou au racisme,</li>
      <li>Les produits r&eacute;glement&eacute;s (cigarettes, m&eacute;dicaments, produits pharmaceutiques, &hellip;),</li>
      <li>Les organes ou produits du corps humain,</li>
      <li>Les animaux dont l&rsquo;importation, l&rsquo;exportation, le commerce ou la possession sont interdits ou r&eacute;glement&eacute;s.</li>
  </ul>
  <p style="margin: 20px 0px;"><span style="font-size: 24px;"><strong>14 - Force majeure</strong></span></p>
  <p>Aucune des parties ne pourra &ecirc;tre tenue responsable &agrave; l&rsquo;&eacute;gard de l&rsquo;autre partie en cas d&rsquo;inex&eacute;cution de ses obligations r&eacute;sultant d&rsquo;un cas de force majeure.</p>
  <p>Sont consid&eacute;r&eacute;s comme cas de force majeure ou cas fortuits, ceux habituellement reconnus par la jurisprudence de la Cour de cassation. Si l&rsquo;&eacute;v&eacute;nement de force majeure venait &agrave; durer plus de trente (30) jours &agrave; compter de sa survenance, les pr&eacute;sentes CGU pourront &ecirc;tre r&eacute;sili&eacute;es par l&rsquo;une quelconque des parties sans qu&rsquo;aucune d&rsquo;entre elles ne puisse pr&eacute;tendre &agrave; l&rsquo;octroi de dommages et int&eacute;r&ecirc;ts.</p>
  <p style="margin: 20px 0px;"><span style="font-size: 24px;"><strong>15 - Propri&eacute;t&eacute; intellectuelle</strong></span></p>
  <p>Les marques, logos, signes et tout autre contenu du site font l&apos;objet d&apos;une protection par le Code de la propri&eacute;t&eacute; intellectuelle et plus particuli&egrave;rement par le droit d&apos;auteur.</p>
  <p>L&apos;Utilisateur sollicite l&apos;autorisation pr&eacute;alable du site pour toute reproduction, publication, copie des diff&eacute;rents contenus.</p>
  <p>L&apos;Utilisateur s&apos;engage &agrave; une utilisation des contenus du site dans un cadre strictement priv&eacute;. Une utilisation des contenus &agrave; des fins commerciales est strictement interdite.</p>
  <p>Tout contenu mis en ligne par l&apos;Utilisateur est de sa seule responsabilit&eacute;. L&apos;Utilisateur s&apos;engage &agrave; ne pas mettre en ligne de contenus pouvant porter atteinte aux int&eacute;r&ecirc;ts de tierces personnes. Tout recours en justice engag&eacute; par un tiers l&eacute;s&eacute; contre le site sera pris en charge par l&apos;Utilisateur.</p>
  <p>Le contenu de l&apos;Utilisateur peut &ecirc;tre &agrave; tout moment et pour n&apos;importe quelle raison supprim&eacute; ou modifi&eacute; par le service. L&apos;Utilisateur ne re&ccedil;oit aucune justification et notification pr&eacute;alablement &agrave; la suppression ou &agrave; la modification du contenu Utilisateur.</p>
  <p style="margin: 20px 0px;"><span style="font-size: 24px;"><strong>16 - Donn&eacute;es personnelles</strong></span></p>
  <p>Les informations demand&eacute;es &agrave; l&rsquo;inscription au service sont n&eacute;cessaires et obligatoires pour la cr&eacute;ation du compte de l&apos;Utilisateur. En particulier, l&apos;adresse &eacute;lectronique pourra &ecirc;tre utilis&eacute;e par le service pour l&apos;administration, la gestion et l&apos;animation du service.</p>
  <p>Le site assure &agrave; l&apos;Utilisateur une collecte et un traitement d&apos;informations personnelles dans le respect de la vie priv&eacute;e conform&eacute;ment &agrave; la loi n&deg;78-17 du 6 janvier 1978 relative &agrave; l&apos;informatique, aux fichiers et aux libert&eacute;s. Le service est d&eacute;clar&eacute; &agrave; la CNIL.</p>
  <p>En vertu des articles 39 et 40 de la loi en date du 6 janvier 1978, l&apos;Utilisateur dispose d&apos;un droit d&apos;acc&egrave;s, de rectification, de suppression et d&apos;opposition de ses donn&eacute;es personnelles. L&apos;Utilisateur exerce ce droit via :</p>
  <ul>
      <li>son espace personnel ;</li>
      <li>un formulaire de contact ;</li>
      <li>par mail &agrave; fromspayce@gmail.com ;</li>
      <li>par voie postale &agrave; :</li>
      <li>Bridge SAS</li>
      <li>54 cours Victor Hugo</li>
      <li>33150 - Cenon</li>
  </ul>
  <p style="margin: 20px 0px;"><span style="font-size: 24px;"><strong>17 - Donn&eacute;es de navigation-cookies</strong></span></p>
  <p>Afin d&rsquo;am&eacute;liorer leur navigation, de mesurer l&rsquo;audience et d&rsquo;am&eacute;liorer le service, SPAYCE collecte diverses donn&eacute;es aupr&egrave;s des utilisateurs. Ces donn&eacute;es sont relatives aux caract&eacute;ristiques du syst&egrave;me d&rsquo;exploitation, du navigateur ou du terminal qu&rsquo;ils utilisent, des donn&eacute;es relatives &agrave; leur localisation ou encore des donn&eacute;es relatives &agrave; leurs &nbsp;interactions avec le contenu de SPAYCE.</p>
  <p>Ces cookies pourront &ecirc;tre d&eacute;pos&eacute;s par SPAYCE et par les partenaires de SPAYCE.</p>
  <p>Les utilisateurs peuvent d&eacute;sactiver les cookies &agrave; tout moment, en configurant leur navigateur internet.</p>
  <p style="margin: 20px 0px;"><span style="font-size: 24px;"><strong>18 - Droit applicable et juridiction comp&eacute;tente</strong></span></p>
  <p>La l&eacute;gislation fran&ccedil;aise s&apos;applique au pr&eacute;sent contrat.</p>
  <p>En cas d&apos;absence de r&eacute;solution amiable d&apos;un litige n&eacute; entre les parties, la comp&eacute;tence des juridictions du domicile du d&eacute;fendeur pr&eacute;vaut.</p>
  <p>Il est &eacute;galement rappel&eacute; que tout consommateur a le droit de recourir gratuitement &agrave; un m&eacute;diateur de la consommation en vue de la r&eacute;solution amiable du litige qui l&rsquo;oppose &agrave; un professionnel. La Soci&eacute;t&eacute; garantit &agrave; l&rsquo;Utilisateur le recours effectif &agrave; un dispositif de m&eacute;diation de la consommation.</p>
  <p>Il est enfin rappel&eacute; que la m&eacute;diation n&apos;est pas obligatoire mais uniquement propos&eacute;e afin de r&eacute;soudre les litiges en &eacute;vitant un recours &agrave; la justice.</p>
  <p>Cette clause s&apos;applique m&ecirc;me en cas de r&eacute;f&eacute;r&eacute;, de demande incidente ou de pluralit&eacute; de d&eacute;fendeurs ou d&apos;appel en garantie, et quels que soient le mode et les modalit&eacute;s de paiement, sans que les &eacute;ventuelles clauses attributives de juridiction pouvant exister sur les documents des Utilisateurs puissent mettre obstacle &agrave; l&apos;application de la pr&eacute;sente clause</p>
  <p>En cas de r&eacute;clamation relative aux CGU-CGV, veuillez adresser votre message &agrave; fromspayce@gmail.com</p>
  <p style="margin: 20px 0px;"><span style="font-size: 24px;"><strong>19 - Langue</strong></span></p>
  <p>Dans l&rsquo;hypoth&egrave;se d&rsquo;une traduction des pr&eacute;sentes Conditions G&eacute;n&eacute;rales dans une ou plusieurs langues, la version fran&ccedil;aise des pr&eacute;sentes fera foi entre les Parties en cas de contradiction ou de contestation de la signification d&rsquo;un terme.</p>
</div>
