<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<% Project.last.documents.each do |document| %>
  <%#= image_tag document.variant(resize_to_limit: [150, 150]) %>

  <% if document.variable? %>
    <%= image_tag document.variant(
        combine_options: {
          resize_to_limit: [150, 150],
          gravity: 'center',
          draw: 'image Over 0,0 0,0 "'+Project::WATERMARK_PATH.to_s+'"'
        }
      )
    %>
  <% elsif document.previewable? %>
    <%= image_tag document.blob.preview(resize_to_limit: [150, 150]).processed.service_url %>
    <%#= link_to(image_tag(document.preview(resize: "200x200>")),  rails_blob_path(document, disposition: "document")) %>
  <% end %>
<% end %>
