<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>
<ul>
  <% @projects.each do |project| %>
    <li>
      <%= link_to project.name, project_path(project) %>
    </li>

  <% end %>
</ul>
