
<div class="container">
  <%= link_to "Retour", edit_user_registration_path, class: "btn btn-outline-info my-4" %>
  <p style="text-align: center; margin: 50px 0px"><span style="font-size: 36px;"><strong>MENTIONS LEGALES :</strong></span></p>
  <p style="margin: 20px 0px"><span style="font-size: 24px;"><strong>1. Pr&eacute;sentation du site :</strong></span></p>
  <p>&nbsp;Conform&eacute;ment aux dispositions des articles 6-III et 19 de la Loi n&deg; 2004-575 du 21 juin 2004 pour la Confiance dans l&apos;&eacute;conomie num&eacute;rique, dite L.C.E.N., nous portons &agrave; la connaissance des utilisateurs et visiteurs du site : www.fromspayce.com les informations suivantes :</p>
  <p><strong>Informations l&eacute;gales :</strong></p>
  <p>Statut du propri&eacute;taire : <strong>societe</strong></p>
  <p>Pr&eacute;fixe : <strong>SAS</strong></p>
  <p>Nom de la Soci&eacute;t&eacute; : <strong>Bridge</strong></p>
  <p>Adresse : <strong>54 cours Victor Hugo 33150 Cenon</strong></p>
  <p>T&eacute;l &nbsp;: <strong>0627452971</strong></p>
  <p>Au Capital de : <strong>1000 &euro;</strong></p>
  <p>SIRET : &nbsp;<strong>84423490600015 &nbsp; R.C.S. : BORDEAUX</strong></p>
  <p>Num&eacute;ro TVA intracommunautaire : <strong>FR4844234906</strong></p>
  <p>Adresse de courrier &eacute;lectronique : <strong>fromspayce@gmail.com</strong></p>
  <p>Le Cr&eacute;ateur du site est : <strong>Charles-Henri Poniard - Benoit Calin</strong></p>
  <p>Le Responsable de la publication est : <strong>C&eacute;dric Sauvaget</strong></p>
  <p>Contactez le responsable de la publication : <strong>fromspayce@gmail.com</strong></p>
  <p>Le responsable de la publication est une <strong>personne physique</strong></p>
  <p><br></p>
  <p>Le Webmaster est &nbsp;: <strong>CEDRIC SAUVAGET</strong></p>
  <p>Contactez le Webmaster : <strong>fromspayce@gmail.com</strong></p>
  <p>L&rsquo;h&eacute;bergeur du site est : <strong>Heroku (</strong><a href="http://www.heroku.com" rel="noopener noreferrer" target="_blank"><strong>www.heroku.com</strong></a><strong>) - Salesforce Company</strong></p>
  <p style="margin: 20px 0px"><span style="font-size: 24px;"><strong>2. Description des services fournis :</strong></span></p>
  <p>Le site www.fromspayce.com a pour objet de fournir une information concernant l&rsquo;ensemble des activit&eacute;s de la soci&eacute;t&eacute;.</p>
  <p>Le propri&eacute;taire du site s&rsquo;efforce de fournir sur le site www.fromspayce.com des informations aussi pr&eacute;cises que possible. Toutefois, il ne pourra &ecirc;tre tenu responsable des omissions, des inexactitudes et des carences dans la mise &agrave; jour, qu&rsquo;elles soient de son fait ou du fait des tiers partenaires qui lui fournissent ces informations.</p>
  <p>Toutes les informations propos&eacute;es sur le site www.fromspayce.com sont donn&eacute;es &agrave; titre indicatif, sont non exhaustives, et sont susceptibles d&rsquo;&eacute;voluer. Elles sont donn&eacute;es sous r&eacute;serve de modifications ayant &eacute;t&eacute; apport&eacute;es depuis leur mise en ligne.</p>
  <p style="margin: 20px 0px"><span style="font-size: 24px;"><strong>3. Propri&eacute;t&eacute; intellectuelle et contrefa&ccedil;ons :</strong></span></p>
  <p>Le propri&eacute;taire du site est propri&eacute;taire des droits de propri&eacute;t&eacute; intellectuelle ou d&eacute;tient les droits d&rsquo;usage sur tous les &eacute;l&eacute;ments accessibles sur le site, notamment les textes, images, graphismes, logo, ic&ocirc;nes, sons, logiciels&hellip;</p>
  <p>Toute reproduction, repr&eacute;sentation, modification, publication, adaptation totale ou partielle des &eacute;l&eacute;ments du site, quel que soit le moyen ou le proc&eacute;d&eacute; utilis&eacute;, est interdite, sauf autorisation &eacute;crite pr&eacute;alable &agrave; l&apos;email : <strong>fromspayce@gmail.com</strong> .</p>
  <p>Toute exploitation non autoris&eacute;e du site ou de l&rsquo;un quelconque de ces &eacute;l&eacute;ments qu&rsquo;il contient sera consid&eacute;r&eacute;e comme constitutive d&rsquo;une contrefa&ccedil;on et poursuivie conform&eacute;ment aux dispositions des articles L.335-2 et suivants du Code de Propri&eacute;t&eacute; Intellectuelle.</p>
  <p style="margin: 20px 0px"><span style="font-size: 24px;"><strong>4. Liens hypertextes et cookies :</strong></span></p>
  <p>Le site www.fromspayce.com contient un certain nombre de liens hypertextes vers d&rsquo;autres sites (partenaires, informations &hellip;) mis en place avec l&rsquo;autorisation du propri&eacute;taire du site . Cependant, le propri&eacute;taire du site n&rsquo;a pas la possibilit&eacute; de v&eacute;rifier le contenu des sites ainsi visit&eacute;s &nbsp;et d&eacute;cline donc toute responsabilit&eacute; de ce fait quant aux risques &eacute;ventuels de contenus illicites.</p>
  <p>L&rsquo;utilisateur est inform&eacute; que lors de ses visites sur le site www.fromspayce.com, un ou des cookies sont susceptibles de s&rsquo;installer automatiquement sur son ordinateur. Un cookie est un fichier de petite taille, qui ne permet pas l&rsquo;identification de l&rsquo;utilisateur, mais qui enregistre des informations relatives &agrave; la navigation d&rsquo;un ordinateur sur un site. Les donn&eacute;es ainsi obtenues visent &agrave; faciliter la navigation ult&eacute;rieure sur le site, et ont &eacute;galement vocation &agrave; permettre diverses mesures de fr&eacute;quentation.</p>
  <p>Le param&eacute;trage du logiciel de navigation permet d&rsquo;informer de la pr&eacute;sence de cookie et &eacute;ventuellement, de refuser de la mani&egrave;re d&eacute;crite &agrave; l&rsquo;adresse suivante : www.cnil.fr</p>
  <p>Le refus d&rsquo;installation d&rsquo;un cookie peut entra&icirc;ner l&rsquo;impossibilit&eacute; d&rsquo;acc&eacute;der &agrave; certains services. L&rsquo;utilisateur peut toutefois configurer son ordinateur pour refuser l&rsquo;installation des cookies.</p>
  <p style="margin: 20px 0px"><span style="font-size: 24px;"><strong>5. Protection des biens et des personnes - gestion des donn&eacute;es personnelles :</strong></span></p>
  <p>Utilisateur : Internaute se connectant, utilisant le site susnomm&eacute; : www.fromspayce.com</p>
  <p>En France, les donn&eacute;es personnelles sont notamment prot&eacute;g&eacute;es par la loi n&deg; 78-87 du 6 janvier 1978, la loi n&deg; 2004-801 du 6 ao&ucirc;t 2004, l&apos;article L. 226-13 du Code p&eacute;nal et la Directive Europ&eacute;enne du 24 octobre 1995.</p>
  <p>Sur le site www.fromspayce.com, le propri&eacute;taire du site ne collecte des informations personnelles relatives &agrave; l&apos;utilisateur que pour le besoin de certains services propos&eacute;s par le site www.fromspayce.com. L&apos;utilisateur fournit ces informations en toute connaissance de cause, notamment lorsqu&apos;il proc&egrave;de par lui-m&ecirc;me &agrave; leur saisie. Il est alors pr&eacute;cis&eacute; &agrave; l&apos;utilisateur du site www.fromspayce.com l&rsquo;obligation ou non de fournir ces informations.</p>
  <p>Conform&eacute;ment aux dispositions des articles 38 et suivants de la loi 78-17 du 6 janvier 1978 relative &agrave; l&rsquo;informatique, aux fichiers et aux libert&eacute;s, tout utilisateur dispose d&rsquo;un droit d&rsquo;acc&egrave;s, de rectification, de suppression et d&rsquo;opposition aux donn&eacute;es personnelles le concernant. Pour l&rsquo;exercer, adressez votre demande &agrave; www.fromspayce.com par email : email du webmaster ou &nbsp;en effectuant sa demande &eacute;crite et sign&eacute;e, accompagn&eacute;e d&rsquo;une copie du titre d&rsquo;identit&eacute; avec signature du titulaire de la pi&egrave;ce, en pr&eacute;cisant l&rsquo;adresse &agrave; laquelle la r&eacute;ponse doit &ecirc;tre envoy&eacute;e.</p>
  <p>Aucune information personnelle de l&apos;utilisateur du site www.fromspayce.com n&apos;est publi&eacute;e &agrave; l&apos;insu de l&apos;utilisateur, &eacute;chang&eacute;e, transf&eacute;r&eacute;e, c&eacute;d&eacute;e ou vendue sur un support quelconque &agrave; des tiers. Seule l&apos;hypoth&egrave;se du rachat du site www.fromspayce.com &agrave; le propri&eacute;taire du site et de ses droits permettrait la transmission des dites informations &agrave; l&apos;&eacute;ventuel acqu&eacute;reur qui serait &agrave; son tour tenu de la m&ecirc;me obligation de conservation et de modification des donn&eacute;es vis &agrave; vis de l&apos;utilisateur du site www.fromspayce.com.</p>
  <p>Le site www.fromspayce.com est en conformit&eacute; avec le RGPD voir notre politique RGPD &nbsp;www.fromspayce.com.</p>
  <p>Les bases de donn&eacute;es sont prot&eacute;g&eacute;es par les dispositions de la loi du 1er juillet 1998 transposant la directive 96/9 du 11 mars 1996 relative &agrave; la protection juridique des bases de donn&eacute;es.</p>
  <p><br></p>
</div>
