<% if project_sent %>
  <div class="flash flash-success alert alert-dismissible fade show" role="alert">
    <span class="flash-message"><%= t('views.projects.email_sent_alert.alert') %></span>
    <a data-dismiss="alert" aria-label="Close">
      <%= inline_svg_tag "close.svg", class: "white-close" %>
    </a>
  </div>
<% end %>
