.checkout-button {
  width: 90%;
  background: $orange;
  border: none;
  color: white;
  height: 40px;
  &:hover {
    opacity: 0.7;
  }
}

.download-button {
  width: 100%;
  background: $green;
  border: none;
  color: white;
  height: 40px;
  &:hover {
    opacity: 0.7;
  }
}
