.card-connexion {
  background-color: white;
  padding: 25px;
  border-radius: 20px;
  box-shadow: 0 24px 38px 3px rgba(0, 0, 0, 0.04),
  0 9px 46px 8px rgba(0, 0, 0, 0.04),
  0 11px 15px -7px rgba(0, 0, 0, 0.04);

  .xl-input {
    width: 80%;
  }
  .form-link {
    margin: auto;
    width: 80%;
  }
  .button-connexion {
    width: 80%;
    padding: 5px;
  }
  .form-actions {
    height: 50px;
  }
  .form-control:focus {
    border-color: $yellow;
    box-shadow: 0 0 0 0.2rem rgba(242, 201, 76, 0.25)
  }
  .form-headers {
    color: $light-gray;
    text-transform: capitalize;
  }


  label {
    text-align: right;
    margin-top: 10px;
  }

  input {
    padding: 20px;
    &:first-child {
      margin-bottom: 10px;
    }
  }
}
