.navbar-lewagon {
  background: white;
  .nav-btn {
    color: $info;
    border: 1px solid $info;
    padding: 5px 25px;
    text-decoration: none;
    &:hover {
      background-color: $info;
      color: white;
    }
  }
  .navbar-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }
  .nav-item > .nav-btn {
    margin-right: 10px;
  }
  .navbar-brand img {
    width: 150px;
  }
  .navbar-collapse {
    flex-grow: 0;
  }
  .navbar-collapse {
    flex-grow: 1;
  }
}
.navbar {
  display: flex;
  justify-content: space-between;
  .navbar-brand {
    justify-content: flex-end;
    flex: 0 0 15%;
  }
  .navbar-button {
    justify-content: flex-start;
    flex: 0 0 15%;
  }
}
