<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <style type="text/css">
      .container {
        width: 900px;
        margin: auto;
      }
      .btn {
        color: white;
        background-color: #F2C94C;
        border: 1px solid #F2C94C;
        padding: 5px 25px;
        text-decoration: none;
      }

      .center {
        text-align: center;
      }
      .background {
        background-color: white;
        padding: 30px;
      }
      body {
        background-color: #E8EAEC;
      }
      .footer {
        color: gray;
      }
    </style>
  </head>
  <body>

    <div class="background container">
      <div class="center">
        <%= image_tag attachments['logo.png'].url, width:"200" %>
      </div>
      <div>
        <p><%= t('.greeting', recipient: @resource.email) %></p>
        <p><%= t('.message') %></p>
      </div>
    </div>
    <div class="center footer">
      <p><%= t('mailer.footer') %></p>
    </div>
  </body>
</html>




