<div class="border-bottom pb-3 mb-2">
  <p class="text-center font-weight-bolder text-green">THANK YOU FOR USING SPAYCE</p>
</div>
<div>
  <p class="text-center">SAS BRIDGE</p>
  <p class="text-center text-light-gray">SIRET: 84423490600015 - RCS: 844234906 RCS BORDEAUX</p>
  <p class="text-center text-light-gray">N° TVA intracommunautaire: FR 04 844234906</p>
  <p class="text-center text-light-gray">IBAN: FR76 1695 8000 0163 1580 7922 209</p>
</div>
